<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs") %>
    <title>Edit Page</title>
</head>
<body>
    <%- include ("./partials/header.ejs") %>
    <h2 id="edit-page">Edit Page</h2>
    <div class="container">    
        <div>
            <form action="/cspcollection/<%= csp.id %>?_method=PUT" method="POST">
                State: <input type="text" name="state" value="<%= csp.state %>"/><br/>
                Image: <input type="text" name="image" value="<%= csp.image %>"/><br/>
                Simple Image: <input type="text" name="simpleimage" value="<%= csp.simpleimage %>"/><br/>
                Council: <input type="text" name="council" value="<%= csp.council %>"/><br/>
                Issue <input type="text" name="issue" value="<%= csp.issue %>"/><br/>
                Council Location: <input type="text" name="location" value="<%= csp.location %>"/><br/>
                <input type="submit" name="" value="Edit CSP"/>
            </form>  
        </div>
    </div>
    <%- include ("./partials/footer.ejs") %>
</body>
</html>