<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs") %>
    <title>CSP Collection</title>
</head>
<body>
    <%- include ("./partials/header.ejs") %>

    <section id="showcase">
        <div class="container">
            <p> Welcome to my collection of Council Shoulder Patches (CSP) from the state of Goergia. Enjoy your visit! </p><br>
        </div>
    </section>

    <div class="container">


            <% for (let i = 0; i < allCsps.length; i++) { %>
                <div class="display">
                <a href="/cspcollection/<%= allCsps[i].id %>"><img class="csphomeimage" src="<%= allCsps[i].simpleimage %>" alt=""></a>
                <a class="csphomelink" href="/cspcollection/<%= allCsps[i].id %>"><%= allCsps[i].council %> </a> <br><br>
                </div> 
            <% } %>

    </div>
    
    <%- include ("./partials/footer.ejs") %>
</body>
</html>