<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs") %>
    <title>CSP Collection</title>
</head>
<body>
    <%- include ("./partials/header.ejs") %>

    <section id="showcase">

            <h1>Welcome to My Site</h1>
            <h3>Showcasing my collection of Council Shoulder Patches</h3>
        </div>
    </section>

    <p><h2 id="state">Georgia Councils</h2></p>

    <div class="container">

        
        <% for (let i = 0; i < allCsps.length; i++) { %>
            <div class="display">
            <a href="/cspcollection/<%= allCsps[i].id %>"><img class="csphomeimage" src="<%= allCsps[i].simpleimage %>" alt=""></a>
            <a class="csphomelink" href="/cspcollection/<%= allCsps[i].id %>"><%= allCsps[i].council %> </a> <br><br>
            </div> 
        <% } %>

    </div>
    
    <%- include ("./partials/footer.ejs") %>
</body>
</html>