<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title><%= csp.council %></title>
</head>
<body>

    <div class="container">
        <div class="showpage">
            <h2>State: <%= csp.state %></h2>
                <img class="cspshowimage" src="<%= csp.image %>" alt="<%= csp.council %>">
        
        <p><h3>Council: <%= csp.council %></h3></p>
        <p><h3>Issue: <%= csp.issue %></h3></p>
        <p><a href="/cspcollection"><button>Back to Home Page</button></a></p>


        <!-- Delete button -->
        <form action="/cspcollection/<%= csp.id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
        </form>

        <!-- Send user to Edit Page -->
        <button><a href="/cspcollection/<%= csp.id %>/edit">Edit</a></button>

        <!-- Send user to New Page -->
        <button><a href="/cspcollection/new">Add a CSP</a></button>
    </div>
    </div>

</body>
</html>